<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!--LOGO-->
		<div class="navbar-header">
			<a href="/home/" class ="navbar-brand">ISTE</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href ="/crypt/" > Crypt</a></li>
				<li><a href ="/chronicle/" > Chronicle</a></li>
				<li><a href ="/create/" > Create</a></li>
				<li><a href ="/credit/" > Credit</a></li>
				<li><a href ="/civil/" > Concrete</a></li>
				<li><a href ="/charge/" > Charge</a></li>
				<li><a href ="/clutch/" > Clutch</a></li>
			</ul>
		</div>
	</div>
</nav>