<!DOCTYPE html>
<html lang ="en">
<head>
	{% load static from staticfiles %}
	{% include 'homepage/head.html' %}
	<link = href="{% static 'css/success.css' %} " rel= "stylesheet"/>
</head>
<body>
	<div class="outer">
		<!--img src= "{% static 'images/thankyou.jpg' %}" alt="Thank You :D" style="width:100%;height:40%;"-->
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		<h1> Apply for our other SIGs!!</h1>
		<a href='/crypt/form'>Crypt</a>
		<a href='/credit/form'>Credit</a>
		<a href='/chronicle/form'>Chronicle</a>
		<a href='/create/form'>Create</a>
		<a href='/clutch/form'>Clutch</a>
		<a href='/charge/form'>Charge</a>
		<a href='/civil/form'>Concrete</a>
		<a href='/no'>No</a>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		<div class="container" >
	    	<hr>
	    	<div class="text-center center-block">
	        	<p class="txt-railway"></p>
	            	<a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            	<a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            	<a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            	<a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
			</div>
			</br>
		</div>
	</div>
</body>
</html>